[bumpversion]
current_version = 1.99.41
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}
commit = True
commit_args = --no-verify
tag = True
sign_tags = True

[bumpversion:file:DESCRIPTION]

[bumpversion:file:codemeta.json]
