[bumpversion]
current_version = 1.99.29.0
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)\.(?P<build>\d+)
serialize = {major}.{minor}.{patch}.{build}
commit = True
commit_args = --no-verify
tag = True
sign_tags = True

[bumpversion:file:DESCRIPTION]

[bumpversion:file:codemeta.json]
